* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 300px;
  width: 500px;
  animation: bgc 3s infinite forwards alternate ;
}
@keyframes bgc {
  from{
    background-color: #fff;
    border-radius: 10px;
    scale: 1;
    box-shadow: 0px 0px 100px red;
    rotate: 0deg;
  }
  to{
    background-color: red;
    border-radius: 50px;
    scale: 0.5;
    box-shadow: 0px 0px 100px white;
    rotate: 360deg;

  }
}