* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    color: white;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box{
    width: 300px;
    height: 300px;
    background-color: rgb(255,255,0);
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
}
button{
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
button:active {
    transform: scale(0.95);
    /* background-color: rgb(48, 25, 97); */
}