* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.box{
  width: 200px;
  height: 200px;
  transition: all 0.3s linear;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
body:has(.box:hover) .box{
  scale: 0.7;
  opacity: 0.8;
  
}
body .box:hover{
  scale: 1 !important ;
  opacity: 1 !important;
  
}