* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1667238158829-880e8c3a89c9?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}
#box{
    width: 40vw;
    background-color: rgba(209, 209, 209, 0.614);
    border-radius: 10px;
    padding: 40px;
    text-align: center;

}
p{
    font-size: 1rem;
    font-weight: 400;
}
p span{
    font-weight: 700;
    color: blue;
}
#outer{
    width: 100%;
    height: 1rem;
    background-color: #3d3d3d;
    border-radius: 10px;
    margin-top: 8%;
    overflow: hidden;
}
#inner{
    height: 100%;
    width: 0%;
    background-color: rgb(131, 203, 22);
    border-radius: 10px;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}
h1{
    font-size: 3rem;
    color: #1d1d1d;
    font-weight: 500;
}
button{
    background-color:rgb(131, 203, 22);
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
button:hover{
    background-color: rgb(112, 174, 19);
}
button:active{
    transform: scale(0.95);
}