* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 300px;
  width: 500px;
  background:conic-gradient(violet,indigo,blue,green,yellow,orange,red);
  
}
