* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.elem{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(33, 33, 33, 0.92);
  padding: 10px;
  border-radius: 5px;
}
.elem button{
  font-size: 1rem;
  padding: 4px 8px;
  background-color: blue;
}
