* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
main{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom,rgb(32, 31, 31),rgb(42, 41, 41),black);
  padding: 10px;
}
section{
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;  
}
.all-reels{
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
  display: none;
}
.reels{
  height: 100%;
  width: 100%;
  background-color: aqua;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reels video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.reels .bottom{
  width: 100%;
  padding: 30px;
  background:linear-gradient(rgba(0, 0, 0, 0),black);
  position: absolute;
  bottom: 0;
  
}
.bottom .user{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 20px;

}
.bottom .user img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.bottom .user button{
  background: transparent;
  border: none;
  padding: 4px 8px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}
.bottom .user button:active{
  scale: 0.9;
}
.title h5{
  font-weight: 400;
}
.right{
  width: 50px;
  position: absolute;
  right: 0;
  bottom: 10%;
  /* transform: translateX(100%); */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.right i{
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.right h6{
  font-size: 15px;
  font-weight: 100;
}
.right>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
}
.love{
    color: red;
}

.right>div h4{
  pointer-events: none;
}

.right>div h6{
  pointer-events: none;
}