* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
}
#box{
    position: absolute;
    width: 80px;
    height: 80px;
    /* transform: translate(-50%,-50%); */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}