:root{
  --white:rgba(255, 255, 255, 0);
  --black:black;
  --x:100px;
  --y:100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1763888428856-edd6bdfe477a?q=80&w=1175&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size:contain;
}
.cursor{
  height: 100%;
  width: 100%;
  background: radial-gradient(150px at var(--x) var(--y) ,var(--white)0%,rgba(27, 27, 27, 0.935)70%,var(--black));
}