* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    color: white;
}
main{
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/1200x/ee/d6/6c/eed66c7a94e9b42678ebb666848f9a6b.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}
button{
    padding: 1rem 2rem;
    background-color: rgb(191, 60, 60);
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
button:active {
    transform: scale(0.95);
}
#active{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    display: none;
}
.img1, .img2, .img3{
    width: 300px;
    height: 400px;
    margin: 20px;
    padding: 10px;
}
.img3 img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.img1 img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.img2 img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}