* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --bgColor{
  syntax: "<color>";
  initial-value: red;
  inherits: false;
}

@keyframes animated{
  from{
    --bgColor:red;
  }
  to{
    --bgColor:blue;
  }
}

.box{
  height: 300px;
  width: 500px;
  background: var(--bgColor);
  animation: animated 10s infinite alternate;
}
