* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    color: white;
}
body{
    background: linear-gradient(to right, rgb(123, 17, 125) 20%, rgb(86, 5, 74) 50%, rgb(48, 25, 97) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.counter{
    font-size: 5rem;
    color: rgb(242, 112, 227);
    -webkit-text-stroke: 1px black;
}
#h1{
    font-size: 5rem;
    color: antiquewhite;
}
button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    border: 2px solid black;
    gap:4rem;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
    background-color: rgb(123, 17, 125);
    color: whitesmoke;
}

button:active {
    transform: scale(0.95);
    background-color: rgb(48, 25, 97);
}