* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    overflow: hidden;
    cursor: none;
}
#box{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}