* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}
h1{
    text-align: center;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 40%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

}
.white-key{
    display: flex;
    align-items: center;
    justify-content: center;
}
.white{
    width: 40px;
    height: 180px;
    border: 1px solid black;
    background-color: azure;
    box-shadow: 0 6px 0 grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.white.active {
    transform: translateY(2px) scale(0.95);   
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
}