* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: none;
}
#btn{
    padding: 20px 30px;
    background-color: rgb(81, 133, 94);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}
#btn:hover{
    background-color: rgb(41, 81, 51);
}
#btn:active{
    transform: scale(0.95);
}
