* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 200px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 100px rgb(18, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color:rgb(255, 255, 255);
  font-size: 5rem;
  text-shadow: 0px 0px 8px black;
}