* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}
h1{
    text-align: center;
    color: white;
}
main{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    height: 40%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

}
.white-key{
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.white{
    width: 45px;
    height: 180px;
    border: 1px solid black;
    background-color: azure;
    box-shadow: 0 6px 0 grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.white.active {
    transform: translateX(1px) scale(0.98);   
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3); 
}
.black-key{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    position: absolute;
    top: 0;
}
.black{
    width: 35px;
    height: 120px;
    border: 1px solid rgb(57, 57, 57);
    background-color: rgb(2, 2, 2);
    box-shadow: 0 6px 0 rgb(18, 18, 18);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    z-index: 2;
    color: white;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
.black.active {
    transform: translateX(1px) scale(0.98);   
    box-shadow: inset 0 0 10px rgba(241, 236, 236, 0.3); 
}