* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --rotate{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  from{
    --rotate:0deg;
  }
  to{
    --rotate:360deg;
  }
}

.box{
  max-width: 300px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 0px solid rgba(0, 0, 0, 0);
  background: linear-gradient(rgb(0, 0, 0)) padding-box,
  conic-gradient(from var(--rotate),black,rgb(255, 57, 199)) border-box;
  box-shadow: 0px 0px 0px rgb(255, 57, 199) ;
  text-shadow: 0px 0px 0px rgb(255, 57, 199);
  animation: rotation 5s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
}

.box:hover{
  animation-play-state: running;
  border-width: 5px;
  color: rgb(255, 57, 199);
  box-shadow: 0px 0px 50px rgb(255, 57, 199) ;
  text-shadow: 0px 0px 10px rgb(255, 57, 199);
}

.box img{
  width: 100%;
}