* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  anchor-name: --someanchor;
}
.box{
  width: 200px;
  height: 200px;
}
.box:hover{
  anchor-name: --someanchor;

}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.anchor{
  background-color: whitesmoke;
  position: absolute;
  position-anchor: --someanchor;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  transition: all 0.3s linear;
  mix-blend-mode: exclusion;
  pointer-events: none;
}