* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box{
  height: 200px;
  width: 400px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 100px green;
}